set clipboard=unnamedplus
set relativenumber number
let mapleader = ","

" because it's there
runtime macros/matchit.vim

" juggling with windows
nmap <silent> <a-Up> <C-W>k<CR>
nmap <silent> <a-Down> <C-W>j<CR>
nmap <silent> <a-Left> <C-W>h<CR>
nmap <silent> <a-Right> <C-W>l<CR>

" split windows
nnoremap ,wh :vsp<CR>
nnoremap ,wv :sp<CR>
nnoremap ,q :q<CR>

set splitbelow
set splitright

nnoremap <F5> :set relativenumber!<CR>
